{% extends 'base.html.twig' %}

{% block body %}
    {% set sum = 0 %}
    <br>
    <div class="container">
        <h2>Your Order</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Order Nr.</td>
                <td>Name</td>
                <td>Price</td>
                <td>Status</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            {% set sum = sum + order.price %}
            <tr>
                <td>{{ order.ordernumber }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.status }}</td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ order.status }}
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('status', {id: order.id, status: 'open'}) }}">Open</a></li>
                            <li><a class="dropdown-item" href="{{ path('status', {id: order.id, status: 'ready'}) }}">Ready</a></li>
                            <li><a class="dropdown-item" href="{{ path('status', {id: order.id, status: 'archive'}) }}">Archive</a></li>
                        </ul>
                    </div>
                </td>
                {% endif %}
                <td>
                    {% if order.status == 'open' %}
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('delete', {id: order.id}) }}"
                       role="button">Delete</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}

            <td></td><td></td>
            <td>{{ sum }} EUR</td>
            <td></td><td></td>
            </tbody>

        </table>
    </div>

{% endblock %}
